h1 {
	font-family: "Gill Sans", "Century Gothic", Helvetica, sans-serif
	font-style: normal;
}

body {
	background-color: #99FF99;
	text-align: center;
}

/*.tweetSection {
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
*/

.tweetsBody {
	background-color: white;
	width: 500px;
    padding: 25px;
    border: 25px green;
    margin: 25px;
    text-align: center;
}
