h1 {
	font-family: "Gill Sans", "Century Gothic", Helvetica, sans-serif;
	color: white;
	font-size: 56px;
}

body {
	background-color: #6699FF;
	text-align: center;
}

.tweetsBody {
	background-color: orange;
	width: 600px;
  padding: 25px;
  border: 20px solid white;
  margin: 0px auto 25px auto;
  text-align: center;
}

.tweets {
  padding: 10px;
  margin: 2px auto 2px auto;
  width: 80%;
  font-size: 20px;
  background-color: white;
}

.user {
  text-decoration: underline;
  font-weight: bold;
  color:navy;
}

.time {
  color: gray;
  font-family: arial;
  font-size: 14px;
}
